<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h2><%= @user.first_name %> <%= @user.last_name %> has pledged a total of $<%= "%0.0f" % @user.total_pledged %></h2>

<h2>Projects <%= @user.first_name %> <%= @user.last_name %> Pledged To</h2>
<% @pledges.each do |pledge| %>
  <div class="pledge-info">
  <h4><%= Project.find(pledge.project_id).title %></h4>
  <p>You pledged $<%="%0.0f" % pledge.dollar_amount %>.</p>
  </div>
<% end %>

<h2><%= @user.first_name %>'s Projects</h2>
<% @projects.each do |project| %>
  <div class="project-info">
  <h4><%= project.title %></h4>
  <h5>Total goal: $<%= project.goal %> from <%= project.start_date.strftime("%F") %> to <%= project.end_date.strftime("%F") %></h5>
  <p><%= project.description %></p>
  </div>
<% end %>
