<% if @update.errors.any? %>
  <div class="error-block">
    <h2><%= pluralize(@update.errors.count, "error") %> prohibited this update from being saved:</h2>
     <ul>
      <% @update.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for([@project, @update]) do |f| %>

   <div class="field">
    <%= f.label :name, 'Update'%><br />
    <%= f.text_area :name %>
  </div>
   <div class="field">
    <%= f.label :description, 'Leave a description:'%><br />
    <%= f.text_area :description %>
  </div>
   <div class="actions">
    <%= f.submit 'Submit', class: 'btn-default' %>
  </div>
<% end %>
